In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])

In [5]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
dates = pd.date_range('20130101', periods=6)

In [7]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns = list('ABCD'))

In [9]:
df

                   A         B         C         D
2013-01-01 -0.553303 -0.219202 -0.747951 -1.753837
2013-01-02  0.533358 -2.160616  0.309653 -0.552434
2013-01-03 -0.638516 -0.645631  0.405747 -0.416420
2013-01-04 -1.190824 -0.503138 -0.802128 -0.001995
2013-01-05  0.637701  0.519893 -1.274235 -0.012618
2013-01-06 -0.285238  2.453678 -1.020701 -0.461620